.body-longform {
  display: flex;
}
.body-longform .detail-article {
  flex: 1;
}
.body-longform .right-article {
  width: 286px;
  margin-left: 20px;
}
.body-longform .box-banner-right {
  display: block;
  margin-bottom: 20px;
}
.body-longform .box-support-right {
  background-color: #2E3192;
  color: #fff;
  text-align: center;
  padding: 30px 18px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.body-longform .box-support-right h4 {
  font-size: 20px;
  font-weight: 800;
}
.body-longform .box-support-right span {
  font-style: italic;
  display: block;
}
.body-longform .box-support-right .form-control {
  font-weight: 400;
}
.body-longform .box-support-right input {
  width: 100%;
  height: 43px;
  border-radius: 5px;
  padding: 0 10px;
  color: #2E3192;
  font-size: 14px;
}
.body-longform .box-support-right input::-moz-placeholder {
  color: #686868;
}
.body-longform .box-support-right input:-ms-input-placeholder {
  color: #686868;
}
.body-longform .box-support-right input::placeholder {
  color: #686868;
}
.body-longform .box-support-right button {
  width: 100%;
  border: none;
  height: 43px;
  background-color: #ED1D1D;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}
.body-longform .box-item-right {
  margin-bottom: 20px;
}
.body-longform .box-item-right .title {
  font-size: 20px;
  color: #222232;
  font-weight: 700;
  border-bottom: 1px solid #E1DDDD;
  margin-bottom: 20px;
  padding-bottom: 7px;
}
.body-longform .slide-news-right {
  margin-top: -55px;
  padding-top: 55px;
}
.body-longform .slide-news-right .item-row {
  display: flex;
  margin-bottom: 20px;
}
.body-longform .slide-news-right .item-row:last-child {
  margin-bottom: 0;
}
.body-longform .slide-news-right .item-row .thumb {
  display: block;
  width: 102px;
  height: 102px;
  margin-right: 13px;
}
.body-longform .slide-news-right .item-row .info {
  flex: 1;
}
.body-longform .slide-news-right .item-row .info .name {
  font-size: 16px;
  font-weight: 500;
  color: #222232;
  margin-bottom: 4px;
}
.body-longform .slide-news-right .item-row .info .text-price {
  display: block;
  color: #2E3192;
  font-size: 14px;
}
.body-longform .slide-news-right .item-row .info .btn-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #222232;
  border-radius: 3px;
  background: #FFFFFF;
  border: 1px solid #FFB34A;
  margin-top: 4px;
}
.body-longform .slide-news-right .owl-nav button {
  width: 17px;
  height: 29px;
  background: url("../images/img-longform/btn-prev.png") 0/100% no-repeat;
  position: absolute;
  top: 0;
}
.body-longform .slide-news-right .owl-nav button:focus {
  outline: none;
}
.body-longform .slide-news-right .owl-nav button span {
  display: none;
}
.body-longform .slide-news-right .owl-nav button.owl-next {
  transform: rotate(180deg);
  right: 0;
}
.body-longform .slide-news-right .owl-nav button.owl-prev {
  right: 20px;
}
@media only screen and (max-width: 767px) {
  .body-longform .right-article {
    display: none;
  }
}
@media only screen and (max-width: 567px) {
  .body-longform {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }
}

.box-support-fixbottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 120px;
  right: 0px;
}
.box-support-fixbottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.box-support-fixbottom a .name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
}
.box-support-fixbottom .btn-register .icon-register {
  display: block;
  background: url("../images/img-longform/icon-note.png") 0/100% no-repeat;
  width: 54px;
  height: 53px;
}
.box-support-fixbottom .btn-register .name {
  color: #2D38B3;
}
.box-support-fixbottom .btn-support .icon-mess {
  display: block;
  background: url("../images/img-longform/icon-mess.png") 0/100% no-repeat;
  width: 51px;
  height: 51px;
}
.box-support-fixbottom .btn-support .name {
  color: #0095FF;
}
.box-support-fixbottom .btn-hotline .icon-hotline {
  display: block;
  background: url("../images/img-longform/icon-hotline.png") 0/100% no-repeat;
  width: 62px;
  height: 62px;
}
.box-support-fixbottom .btn-hotline .name {
  color: #FF0000;
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .box-support-fixbottom {
    display: none;
  }
}

.box-banner-form {
  background: url("../images/img-longform/bg-form.jpg") 0 0 no-repeat;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}
.box-banner-form .banner-mb {
  display: none;
}
.box-banner-form .wrp-form-longform {
  max-width: 499px;
  width: 100%;
}
.box-banner-form .wrp-form-longform .modal-content {
  background-color: #F1F1F1;
  border-radius: 0;
  padding: 0;
}
.box-banner-form .wrp-form-longform .btn-close {
  display: block;
  background: url("../images/btn-close.png") 0/100% no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  right: -14px;
  border: none;
  cursor: pointer;
}
.box-banner-form .wrp-form-longform .modal-title {
  width: 100%;
  height: 42px;
  background-color: #2E3092;
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.box-banner-form .wrp-form-longform .modal-title .title-sub {
  font-size: 20px;
}
.box-banner-form .wrp-form-longform .modal-title .title-phone {
  font-weight: bold;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket {
  padding: 14px 14px 0;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 9px;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p {
  width: 49%;
  background-color: #fff;
  margin-bottom: 9px;
  display: flex;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p:hover {
  background-color: #2F3091;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p:hover label {
  color: #fff;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p label {
  width: 100%;
  margin-bottom: 0;
  height: 100%;
  padding: 8px 6px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #636363;
  cursor: pointer;
  line-height: 1.2;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p input {
  width: 0;
  display: none;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p.active {
  background-color: #2E3092;
}
.box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p.active label {
  color: #fff;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket {
  background-color: #2E3092;
  padding: 9px 14px;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .form-group {
  flex: 1;
  line-height: 1;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  padding: 0 20px;
  color: #0A1C5F;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket input:focus {
  outline: none;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-register {
  height: 40px;
  padding: 0 20px;
  background-color: #ffb34a;
  text-transform: uppercase;
  color: #2E3092;
  border: none;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-register:focus {
  outline: none;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-support {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-support .btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 10px) / 2);
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  color: #2F3091;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-support .btn-form::before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 31px;
  height: 31px;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-support .btn-form.btn-chat::before {
  background: url("../images/img-longform/icon-mess2.png") 0/100% no-repeat;
}
.box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-support .btn-form.btn-note::before {
  background: url("../images/img-longform/icon-note2.png") 0/100% no-repeat;
}
.box-banner-form .wrp-form-longform .inner-form-telephone {
  padding: 10px 30px 0;
}
.box-banner-form .wrp-form-longform .inner-form-telephone .form-group {
  width: 100%;
}
.box-banner-form .wrp-form-longform .inner-form-telephone .form-group input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: none;
  box-shadow: 0 3px 6px #00000029;
}
.box-banner-form .wrp-form-longform .inner-form-telephone .form-group input:focus {
  outline: none;
}
.box-banner-form .wrp-form-longform .inner-form-telephone button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
  padding: 0 20px;
  width: 120px;
  height: 40px;
  background-color: #ffb34a;
  color: #A70C0C;
  font-size: 24px;
  font-weight: bold;
  border: none;
}
@media screen and (max-width: 589px) {
  .box-banner-form .wrp-form-longform {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }
  .box-banner-form .wrp-form-longform .modal-content {
    overflow: visible;
  }
  .box-banner-form .wrp-form-longform .btn-close {
    top: -10px;
    right: -10px;
    width: 24px !important;
    height: 24px !important;
  }
  .box-banner-form .wrp-form-longform .modal-title {
    font-size: 16px;
    height: 30px;
    padding: 0 10px;
  }
  .box-banner-form .wrp-form-longform .modal-title .title-sub {
    font-size: 14px;
  }
  .box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket {
    padding: 10px 10px 0;
  }
  .box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket {
    margin-bottom: 10px;
  }
  .box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p {
    margin-bottom: 10px;
    width: 100%;
  }
  .box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket {
    padding: 10px;
  }
  .box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket input {
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
  }
  .box-banner-form .wrp-form-longform .form-ticket .form-bottom-ticket .btn-register {
    height: 30px;
    padding: 0 15px;
    font-size: 15px;
    margin-left: 10px;
  }
  .box-banner-form .wrp-form-longform .inner-form-telephone .form-group {
    width: 100%;
  }
  .box-banner-form .wrp-form-longform .inner-form-telephone .form-group input {
    height: 30px;
    padding: 0 10px;
  }
  .box-banner-form .wrp-form-longform .inner-form-telephone button {
    padding: 0 10px;
    width: 95px;
    height: 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 413px) {
  .box-banner-form .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p label {
    font-size: 14px;
    padding: 6px;
  }
}
@media screen and (max-width: 374px) {
  .box-banner-form .wrp-form-longform .modal-title {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .box-banner-form {
    padding: 0;
  }
}
@media only screen and (max-width: 567px) {
  .box-banner-form {
    flex-direction: column;
    padding: 0;
    background: none;
  }
  .box-banner-form .banner-mb {
    display: block;
  }
}

.box-freeship-form {
  padding: 20px;
  background-color: #FFB44C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-freeship-form .img-free {
  display: block;
  background: url("../images/img-longform/icon-freeship1.png") 0/100% no-repeat;
  width: 228px;
  height: 72px;
}
.box-freeship-form .text-ship {
  display: flex;
  align-items: center;
  color: #2E3192;
  font-size: 27px;
  font-weight: 900;
}
.box-freeship-form .text-ship small {
  font-size: 17px;
  font-weight: 400;
}
@media only screen and (max-width: 1119px) {
  .box-freeship-form .text-ship {
    flex-wrap: wrap;
  }
  .box-freeship-form .text-ship small {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .box-freeship-form {
    display: none;
  }
}

.longform-bar-fixbottom-2 {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
}
.longform-bar-fixbottom-2.shortbar-longform .top-freeship {
  display: none;
}
.longform-bar-fixbottom-2.shortbar-longform .box-product-longform {
  display: none;
}
.longform-bar-fixbottom-2.shortbar-longform .btn-close {
  display: none;
}
.longform-bar-fixbottom-2 .btn-close {
  display: block;
  background: url("../images/img-longform/btn-close.png") 0/100% no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -10px;
  right: 0;
}
.longform-bar-fixbottom-2 .top-freeship {
  background-color: #ffb44c;
  height: 27px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2E3092;
  font-weight: 600;
}
.longform-bar-fixbottom-2 .top-freeship span {
  font-weight: 900;
  font-size: 12px;
}
.longform-bar-fixbottom-2 .top-freeship .item-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 10px;
}
.longform-bar-fixbottom-2 .top-freeship .right {
  padding-right: 30px;
  position: relative;
}
.longform-bar-fixbottom-2 .top-freeship .right::after {
  content: "";
  display: block;
  background: url("../images/img-longform/icon-freeship.png") 0/100% no-repeat;
  width: 28px;
  height: 19px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 0;
}
.longform-bar-fixbottom-2 .bottom-longform {
  width: 100%;
  height: 42px;
  background-color: #2E3092;
  display: flex;
  position: relative;
  z-index: 9;
}
.longform-bar-fixbottom-2 .bottom-longform .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.longform-bar-fixbottom-2 .bottom-longform .item:nth-child(2) {
  width: 40%;
}
.longform-bar-fixbottom-2 .bottom-longform .item .text-label {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
.longform-bar-fixbottom-2 .bottom-longform .item .icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: -15px;
  background-color: #2E3092;
}
.longform-bar-fixbottom-2 .bottom-longform .item .icon::before {
  display: block;
  content: "";
}
.longform-bar-fixbottom-2 .bottom-longform .item .icon.icon-phone::before {
  background: url("../images/img-longform/icon-telephone.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}
.longform-bar-fixbottom-2 .bottom-longform .item .icon.icon-user::before {
  background: url("../images/img-longform/icon-user1.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}
.longform-bar-fixbottom-2 .bottom-longform .item .icon.icon-product::before {
  background: url("../images/img-longform/icon-product.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}
.longform-bar-fixbottom-2 .box-product-longform {
  padding: 15px 10px 10px;
  margin-top: -25px;
  position: relative;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-stage-outer {
  padding-top: 2%;
}
.longform-bar-fixbottom-2 .box-product-longform .section-padding {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-item.active {
  display: flex;
  justify-content: flex-end;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-item.active.cloned {
  justify-content: flex-start;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-item.active.center {
  justify-content: center;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-item .item {
  transform: translate3d(0, 0, 0);
  /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
  margin: 0;
  /* OVERWRITE PLUGIN MARGIN */
}
.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-item .item {
  transition: 0.3s;
  transform: scale(0.8);
}
.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-item.center .item {
  transform: scale(1.2);
}
.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-nav {
  text-align: center;
}
.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-nav button {
  font-size: 24px !important;
  margin: 10px;
  color: #033aff !important;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav {
  display: block;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  margin-top: 0px;
  width: 13px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: #2e3092 !important;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav button:focus {
  outline: none !important;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav .owl-prev {
  left: -20px;
}
.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav .owl-next {
  right: -20px;
}
@media only screen and (max-width: 767px) {
  .longform-bar-fixbottom-2 {
    display: block;
  }
}
